<footer>
  <div class="container">

    <div id="contact-us">
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>我們是一間位於高雄市的生鮮超市，致力於提供健康、無負擔的輕食，以及產地直接寄賣的有機食材。</p>
      </div>

      <div class="col-md-4">
        <h5>Contact Us</h5>
        <div>
          <%= mail_to "lionlies@gmail.com", "lionlies@gmail.com" %>
        </div>
      </div>

      <div class="col-md-4">
        <h5>Follow Us</h5>
        <%= link_to "https://www.facebook.com/lionlies", target: "_blank" do %>
          <i class="fa fa-facebook-official fa-3x"></i>
        <% end %>
      </div>
    </div>
  </div>

  <hr>

  <div id="copyright">
    <p>免責聲明：此為 demo 用網站，請勿下單。</p>
    <p>2016 © Copyright 簡。輕食 - All right reserved</p>
  </div>

</footer>
